

Flask==1.1.1


Keras==2.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0

numpy==1.18.1



gunicorn==20.0.4
request==2019.4.13

tb-nightly==2.2.0a20200106
tensorboard==1.14.0
tensorflow==2.11.1
tensorflow-estimator==1.14.0
Werkzeug==1.0.0
h5py==2.10.0
setuptools==41.0.0